# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Env files
.env
*.env
.env.*

# Caches
.pytest_cache/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
postgres_data/

#Cursor
.cursorignore
